export GOOGLE_APPLICATION_CREDENTIALS=/Users/giovannirecupero/Documents/gcp-onboarding-test-0-77505576b9b1.json
export TF_VAR_project_id=gcp-onboarding-test-0
export TF_VAR_push_endpoint=https://enohz37j7ghmq.x.pipedream.net
