name: Sanity Test Jenkins Trigger

on:
  workflow_call:
  push:
    branches:
      - master

concurrency:
  group: master-${{ github.ref }}
  cancel-in-progress: false

jobs:
  sanity-tests:
    if: (github.event_name == 'pull_request' && github.event.action == 'ready_for_review') ||
      (github.event_name == 'pull_request_review' && github.event.review.state == 'approved') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main')
    runs-on: tools-runner

    steps:
      - name: Trigger Onboarding job for this repo
        id: trigger-jenkins-job
        uses: sysdiglabs/jenkins-job-trigger-action@1.1.0
        with:
          jenkins_external_base_url: ${{ secrets.JENKINS_EXTERNAL_BASE_URL }}
          jenkins_url: ${{ secrets.JENKINS_INTERNAL_URL }}
          jenkins_user: ${{ secrets.JENKINS_BOT_API_USER}}
          jenkins_token: ${{ secrets.JENKINS_BOT_API_TOKEN}}
          job_name: "qa/job/QA-secure/job/onboarding/job/terraform-google-secure-onboarding-tests/"
          job_params: |
            {
              "MODULE_BRANCH": "${{ github.head_ref || github.ref_name }}"
            }
          job_timeout: "5400"
